{% extends 'base_front.html.twig' %}

{% block body %}
    <title>S'inscrire</title>
    <h1>Inscription</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <br/>   
    <button type="submit" class="btn btn-success">Inscription</button>
    {{ form_end(form) }}
{% endblock %}
