{% extends 'base_front.html.twig' %}

{% block title %}Bienvenue sur Swap'It !{% endblock %}

{% block body %}
    <div class="img-wrapper" style="
        display: flex;
        justify-content: space-around;
        margin-top: 95px;" >
        <img src="{{ asset('build/swap-the-game.png') }}"/>
        <img src="{{ asset('build/illustration-Manette.png') }}"/>
    </div>
{% endblock %}