{% extends 'base_front.html.twig' %}

{% block body %}

<title>Requête de Swap envoyée !</title>

<div class="container" style="display: flex; margin-top: 25px; flex-wrap: wrap; justify-content: center;">
    <div class="text-wrap-title">
        <p class="font-style-title">Votre demande de swap a bien été envoyée</p>
    </div>
{% endblock %}
