{% extends 'base_front.html.twig' %}

{% block body %}

<title>Swap refusée !</title>

<div class="container" style="display: flex; margin-top: 25px; flex-wrap: wrap; justify-content: center;">
    <div class="text-wrap-title">
        <p class="font-style-title">la demande de swap a bien été refusée !</p>
    </div>
{% endblock %}
