{% extends 'base_front.html.twig' %}

{% block body %}
<h1>Mes listes</h1>
<span class>Afin de finaliser votre inscription veuillez choisir les jeux que vous possédés ainsi que les jeux auxquels vous aimeriez jouer.</span>
<h2>Ma Wishlist</h2>
{{ form_start(form2) }}
    {{ form_widget(form2) }}
    <button type="submit" class="btn btn-success">Valider</button>
{{ form_end(form2) }}
{% endblock %}