<html>

<head>
    <meta charset="UTF-8">
    {% block stylesheets %}{% endblock %}
    {# <link rel="stylesheet" href="https://bootswatch.com/3/simplex/bootstrap.min.css"> #}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
</head>

<body style="background: #ECECEC">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="https://i.ibb.co/Jptwgbf/logo.png" alt="" width="70" height="50">
            </a>
            <a class="navbar-brand" href="#">
                <img src="https://i.ibb.co/QDjHSyx/Swap-it-text-logo.png" alt="" width="110" height="40">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <div class="collapse navbar-collapse d-flex justify-content-center" >
                <form class="d-flex justify-content-center" id="navBarSearchForm">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
               
                </div>
                <ul class="navbar-nav d-flex flex-row-reverse">
                    
                    <li class="nav-item">
                          <i class="fas fa-bell fa-2x"></i>
                          <br/>
                    </li>
                    <li class="nav-item">
                       <i class="far fa-envelope fa-2x"></i>
                    </li>
                  
                    <li class="nav-item">
                        <i class="far fa-user fa-2x"></i>
                    </li>
                   
                </ul>
            </div>
        </div>
    </nav>
    <div class="container fluid " ;>
        <br />
        <div class="row ">
            <div class="bg-white col-sm  text-center">
                <div class="row ">
                    <div class=" text-center">
                        <center>
                            <img src="https://mgl.skyrock.net/art/PRIP.92288752.5.2.jpg"
                                class="rounded thumbnail img-responsive " alt="">
                        </center>
                    </div>
                    <p>Pseudo</p>
                    <div class="">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i></div>

                </div>

                <p>Saint-denis France</p>
                <p>connecté il y a 1 heure</p>
                <div class="row ">
                    <div class="col-6 " align="right">
                        <h1>5</h1> 
                    </div>
                    <div class="col-6"  align="left">
                        <i class="fas fa-exchange-alt fa-3x"></i></div>
                    </div>
                    </div>
            <div class="bg-white col-sm">
            <br/>
                <h2>Liste de jeux possédés</h2>
                <br />
                {% include '_components/game-list.twig'%}
            </div>
            <div class="bg-white col-sm">
            <br/>
                <h2>Liste de jeux souhaités</h2>
                <br />
                {% include '_components/game-list.twig'%}
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

    

</body>

</html>