{% extends 'base.html.twig' %}

{% block title %}Ajoutez un jeu!{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_rest(form) }}
        <button type="submit" class="btn">Créer</button>
    {{ form_end(form) }}
{% endblock %}
