<div class="card-container">
        {% for i in 0..10 %}
            <div class="card" style="width: 12.1rem;">
                <img style="width:12rem; border-radius: 20px 20px 0px 0px" src="https://store-images.s-microsoft.com/image/apps.1547.14585440003614248.9f7109bf-73f7-4bc7-ba61-1eeb006d905a.75930d81-6e85-436d-9b61-1279b8dd9b31" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 style="text-align: center;" class="card-title">Assassin's Creed Valhalla</h5>
                    <p class="card-text text-secondary">Aventure, Action, Thriller</p>
                    <div class="btn-wrapper">
                        <a style="" href="#" class="btn btn-primary">Voir</a>
                    </div>
                </div>
            </div>
        {% endfor %}
</div>