<div class="container fluid heading">
<hr style="clear:both; visibility: hidden;" /><hr />
 <div class="row ">

 <div class="col-lg-6 justify-content-center">
 <h1>Swap the game</h1>
    <h2>Trouver et échanger des jeux qui vous ressemble en un clic !</h2>
    <a href="#" ><img src="https://i.ibb.co/r5T5n7w/google-play-badge.png" alt="Download-on-googleplay" width="290px"></a>
    <a href="https://ibb.co/NWkTzSY"><img src="https://i.ibb.co/2cLZBNK/1280px-Download-on-the-App-Store-Badge-svg.png" alt="1280px-Download-on-the-App-Store-Badge-svg" border="0" width="250px"></a>
<a href="https://imgbb.com/"><img src="https://i.ibb.co/35xws6f/swapit-logo-svg.png" alt="swapit-logo-svg" border="0" width="250px"></a>
</div>

<div class="col-lg-6">
<a href="https://imgbb.com/"><img src="https://i.ibb.co/hVCQtSf/illustration-Manette.png" alt="illustration-Manette" border="0"></a>
</div>
</div>



{# <img
    src="equilateral.svg"
    alt="triangle with all three sides equal"
    height="87"
    width="100" />
     #}
     
<style type="text/css">
hr {  height: 12px; margin-bottom: 50px;  clear:both; visibility: hidden;}


/* SWAP THE GAME */

h1 {

font-style: normal;
font-weight: bold;
font-size: 65px;
line-height: 79px;
color: #29647C;
}

h2{


font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 37px;

color: #29647C;

}


</style>