<div class=" col-md-6 ">
    <div class="row  ">
   
        <div class= "resume-profil-card ">
        <div class="col profil-card-content">
        <div class="circle ">
            <p> AM</p>
        </div>

            <p class= "resume-name" >Pseudo</p>
                {% for i in 1..4 %}
            <i class="fas fa-star resume-review" ></i>
            {% endfor %}
            <i class="far fa-star"></i>
            
        </div>
        <div class="col profil-card-content">
        <p class= "resume-text">Echanges</p>
        <p class= "resume-text-number">15<p>
        <i class="fas fa-exchange-alt resume-icon" ></i>

        </div>
         <span class="vertical-line"></span>
        <div class="col profil-card-content">
        
            <p class= "resume-text">Jeux possédés</p>
            <p class= "resume-text-number" >5</p>
             <i class="fas fa-check resume-icon" style="color:#04CA00"></i>
       
        </div> <span class="vertical-line"></span>
          
        <div class="col profil-card-content">
        <p class= "resume-text">Jeux souhaités</p>
        <p class= "resume-text-number">5</p>
        <i class="fas fa-heart resume-icon"style="color:#F81515"></i>
       <button type="button" class="btn btn-profil">Voir profil</button> 
        </div>
        </div> 
           
                
         
       

    </div>
    
</div>